{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'css/reg.css' %}">

		    <!-- <script src="js/reg.js"></script> -->
   <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/wow.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<!-- Website CSS style -->
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

		<!-- Website Font style -->
   		<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
	    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" />

		<title>Team Management</title>
	</head>
	<body>
            <!--nav-->
            <nav class="nav navbar-default navbar-fixed-top" style="background: black">
                <div class="container">
                    <div class="col-md-12">
                        <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false" aria-controls="navbar">
                            <span class="fa fa-bars"></span>
                        </button>
                            <a href="index.html" class="navbar-brand"><img style="height:28px" class="img-responsive" src="{% static 'img/spardha-small-text.png' %}"  ></a>
                        </div>
                        <div class="collapse navbar-collapse navbar-right" id="mynavbar">
                            <ul class="nav navbar-nav">
                                <li><a href="/admin1">Colleges</a></li>
                                <li  class="active"><a href="/adminteam">Our Team</a></li>
                                <li><a href="/adminfixtures">Fixtures</a></li>
                                <li><a href="/adminresults">Results</a></li>
                                <li><a href="/adminlogout">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
           <div class="container" style="background: #009edf;color:white; padding:20px;margin-top:100px">
           		<!-- <h1 style="text-align: center;"> Colleges Registered</h1> -->
           			<div class="col-md-3">
                          <h2 style="text-align: center;color: black"> Teams:</h2>
           	          		<h3 style="text-align: center;">

                       				{% for post in teams %}
                     					{{ post }}<br/><br/>
                     					{% endfor %}
                     			</h3>
                    <form class="" style="float: center;text-align: center;" method="post" action="/adminteam">
                        {% csrf_token %} 
                        <input type="text" style="color: black;" placeholder="Enter new team" name="post"/>  
                        <input type="submit" name="submit" value="+" style="color: green">
                     
                   </form>
             </div>
             <div class="col-md-9">
                    <h2 style="text-align: center;color: black"> Our Team:</h2>
                    
                    {% for member in ourteam %}
                    <div class="row">
                    <div class="col-md-12" style="background-color: white;color: black;border: 2px solid white;border-radius: 25px">
                      <div class="col-md-3">
                        <img style="margin-top:4px;border: 5px solid #009edf ; border-radius: 25px; top:350%;left: 50%;position: absolute;
transform: translateX(-50%) translateY(-50%);" class="img-responsive" src="data:image/png;base64,{{ member.4 }}"> <br/>
                      </div>
                      <div class="col-md-9" style="float: center;text-align: center">
                        <b><h2> {{ member.1 }} </h2></b>
                        <h3 style="color: #009edf">{{ member.2 }}, {{ member.3 }}</h3>
                        <h3>{{ member.0 }}</h3>
                       
                      </div>

                    </div>
                  </div>
                    <br/>
                    {% endfor %}
                  
                    <div class="row">

                   
                    <form class="" enctype="multipart/form-data" style="float: center;text-align: center;margin-top:5px;color: black;border: 1px solid white;padding:5px" method="post" action="/adminteam">
                        {% csrf_token %} 
                        <h2 style="float: center;text-align: center;color: black">Add new Member: </h2><br/>

                        <div class="col-md-3">
                          Image:<input required="true" type="file" name="pic" accept="image/*">
                        </div>
                        <div class="col-md-9">
                        <input type="text" style="color: black;" required="true" placeholder="Enter person's name" name="name"/>
                        <input type="text" style="color: black;" required="true" placeholder="Enter person's Contact number" name="contact"/>
                       <br/><br/>
                        <input type="text" style="color: black;" required="true" placeholder="Enter person's post" name="posts"/>
                        <select class="" required="true" name="team" id="team"  placeholder="Select Team">
                        <option disabled selected value> -- select a team -- </option>
                        {% for team in teams %}    
                            <option value={{ team }} >{{ team }}</option>
                        {% endfor %}
                      </select>  
                      <br/><br/>
                      </div>
                        <br/><br/>
                        <input type="submit" name="submitteam" value="Add to team" class="btn btn-primary">
                     
                   </form>
             </div>
               
          </div>
           </div>

		 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
	</body>
</html>